body {
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
    font-size: 13px;
    line-height: 1.6;
    }

.title {
    font: normal 16px/1 Verdana, Geneva, sans-serif;
    text-align:center;
    margin-top:20px;
}

.entry_content_box{

    padding: 40px;
    width: 80%;
    display: flex;
    overflow:auto;  
    height:auto;
    background-color: rgba(255,255,255,1);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    margin: auto auto 2%;
    overflow: auto;
    border: 1px double;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: rgba(0,0,0,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    background-color: rgba(255,255,255,1);
}

.entry_header {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 80%;
    margin: 1% auto auto;
    padding: 5px;
    overflow: hidden;
    border: 1px solid rgba(180,180,180,0.7);
    border-bottom-width: 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: rgba(0,0,0,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(0deg, rgba(220,220,220,0.72) 0, rgba(255,255,255,0.7) 96%, rgba(255,255,255,0.7) 100%);
    background: -moz-linear-gradient(90deg, rgba(220,220,220,0.72) 0, rgba(255,255,255,0.7) 96%, rgba(255,255,255,0.7) 100%);
    background: linear-gradient(90deg, rgba(220,220,220,0.72) 0, rgba(255,255,255,0.7) 96%, rgba(255,255,255,0.7) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 1px 0 0 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 0 0 0 rgba(0,0,0,0.3) ;
    vertical-align: middle;
    font: normal 11px/1 Verdana, Geneva, sans-serif;
}

.dropdown {
    float: right;
	display:inline-block;
}

.date {
	display:inline-block;
	line-height: 1.5;
}
