/* hide buttons of the page, that are not required for the overview  */
.download-btn.icon-btn { display: none }
.icon-btn.show-selectors-btn { display: none }
.icon-btn.edit-btn { display: none }
.icon-btn.delete-btn { display: none }
.panel-menu.btn-group { display: none }
.pull-left { display: none }
.create-new.btn.btn-default { display: none }
.done.btn.btn-default { display: none }
.history-drop-target-help { display: none }
.history-drop-target { display: none }          
.history-size { display: none }

/* first column is now static on the page   */
.multi-panel-history .history-column:first-child {
position: static;
z-index:10
}
/* removes the box shadow and adjust the appearance of the fist column */
.multi-panel-history .history-column:first-child .history-panel {
border:1px solid gray;
box-shadow:0px 0px 0px rgba(96,96,96,0.3)
}
/* removes the placeholder for the normally fixed first column */
.multi-panel-history .history-column:nth-child(2) {
margin-left:0px
}

/* sets the space left and right for the galaxy frames */
#center {
    left: 0 !important;
    right: 0 !important;
}    


.li {list-style-type:none}
.tooltip {font-size: 13px;}
.span_mouse {cursor:pointer;}
.project {cursor:pointer;}
.author {cursor:pointer;}

